* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  outline: none;
  text-decoration: none;
  transition: 0.2s linear;
}

html {
  font-size: 65%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 0.5rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.logo_sublime {
  width: 40rem;
  height: auto;
  margin-left: -150px;
}

.searchbar {
  width: 50rem;
  height: 3rem;
  border-radius: 10px;
  padding: 5px;
  padding-left: 25px;
  background: url('https://static.thenounproject.com/png/101791-200.png')
    no-repeat left;
  background-size: 20px;
}

.icones a {
  font-size: 2rem;
  padding: 10px;
}

.sections a {
  font-size: 2rem;
  padding: 10px;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: #d4af37;
  transition: 0.2s;
}

.login {
  text-align: center;
  margin-top: 20rem;
  padding: 70px;
}

.holder-email {
  margin-top: 3rem;
  font-size: 15px;
  margin-right: 300px;
}

.holder-senha {
  margin-top: 2rem;
  font-size: 15px;
  margin-right: 310px;
}

.input-login {
  margin-top: 5px;
  width: 35rem;
  height: 5rem;
  padding: 5px;
  padding-left: 15px;
  background-size: 20px;
}

.input-senha {
  margin-top: 5px;
  width: 35rem;
  height: 5rem;
  padding: 5px;
  padding-left: 15px;
  background-size: 20px;
  margin-bottom: 15px;
}

.forgotpswd {
  margin-top: 10px;
  font-size: medium;
}

.createAcc {
  font-size: medium;
  margin-top: 20px;
}

.button {
  margin-top: 10px;
  width: 20rem;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
}

.buttonLogout {
  margin-top: 18rem;
  margin-left: 75%;
  width: 20rem;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
}

.buttonDelete {
  margin-left: 10px;
  width: 20rem;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(255, 0, 0);
}

button:hover {
  background-color: #d4af37;
  transition: 0.7s;
}
